@import "variables.scss";


@mixin menu-animation-one {
  opacity: 0;

  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      animation-name: menu-one-keyframas;
      animation-duration: 300ms;
      animation-delay: (150ms * $i) - 300;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes menu-one-keyframas {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(40px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
  }
}

@mixin menu-animation-two {
  opacity: 0;

  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      animation-name: menu-two-keyframes;
      animation-duration: 300ms;
      animation-delay: (200ms * $i) - 500;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes menu-two-keyframes {
  0% {
    opacity: 0;
    transform: rotateX(-180deg) translateY(-10px);
  }
  80% {
    opacity: 1;
    transform: rotateX(30deg) translateY(0);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@mixin menu-animation-tri {
  opacity: 0;
  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      animation-name: menu-tri-keyframes;
      animation-duration: 300ms;
      animation-delay: (150ms * $i) - 450;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes menu-tri-keyframes {
  0% {
    opacity: 0;
    transform: rotateZ(-5deg) scale(0.7);
  }
  30% {
    opacity: 0.9;
    transform: rotateZ(3deg) scale(1.1);
  }
  70% {
    // opacity: 0.9;
  }
  100% {
    opacity: 1;
    transform: rotateZ(0) scale(1);
  }
}

@mixin menu-animation-four {
  opacity: 0;
  @for $i from 1 through 8 {
    &:nth-child(#{$i}) {
      animation-name: menu-four-keyframes;
      animation-duration: 550ms;
      animation-delay: (50ms * $i) - 600;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes menu-four-keyframes {
  0% {
    opacity: 0;
    transform: rotate(-5deg) translateX(20px) translateY(30px);
    transform-origin: left;
  }
  60% {
    opacity: 0.9;
    transform: rotate(5deg) translateX(-10px) translateY(20px);
    transform-origin: right;
  }
  100% {
    opacity: 1;
    transform: rotate(0);
    height: $navHeight;
  }
}

@mixin menu-animation-fajv {
  opacity: 0;
  @for $i from 1 through 8 {
    &:nth-child(#{$i}) {
      animation-name: menu-fajv-keyframes;
      animation-duration: 500ms;
      // animation-delay: (50ms * $i) - 200;
      animation-delay: (50ms * $i) - 450;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes menu-fajv-keyframes {
  0% {
    opacity: 0;
    // transform: rotateY(20deg);
    transform: scale(0.7);
  }
  70% {
    opacity: 0.8;
    // transform: rotateY(-10deg);
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scaleX(1) rotateX(0);
  }
}
