@import "variables.scss";
@import "animation.scss";


div#container-top {
  height: 100%;
  width: 100%;
  padding-top: $navHeight;
  background-color: $containerTopBgColor;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  div.page-header {
    box-sizing: border-box;
    // height: 100%;
    flex: 6 0 0;
    width: 100%;
    max-width: 1000px;
  }

  div.page-down {
    // height: 30%;
    display: flex;
    flex: 1 0 0;
    align-items: center;
  }

  p.page-down-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $containerTopFontColor;
    font-weight: bold;
    font-size: 32px;
    border-radius: 50%;
    width: 60px;
    height: 60px;

    &:hover {
      border: 5px solid $containerTopFontColor;
      transform: rotateZ(90deg) scale(1.1);
    }
  }

  div.page-header-border {
    height: 90%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 10px solid $containerTopFontColor;
    margin: 40px 20px 0px 20px;
  }

  h1 {
    color: $containerTopFontColor;
    font-size: 46px;

    &:hover {
      cursor: pointer;
      transform: rotateX(30deg) rotateY(5deg);
    }
  }
}
