$primaryColor: #111;

* {
  color: $primaryColor;
  text-align: center;

  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.2em;
  }
}

body {
  background-color: #eee;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.underline {
  display: inline;

  &:hover {
    text-decoration: underline;
  }
}

.change-font-size, .inc-dec, .form {
  margin: 20px 10px;
}

.inc-dec {}
