$primaryColor: #222;
$bgColor: #eee;
$navHeight: 50px;
$navWidth: 100%;
$navLinkWidth: 20%;

$navBgColor: khaki;
$navMainMenuBgColor: tomato;
$navMainMenuBgColorHover: skyblue;
$navDropdownMenuBgColor: #5831b2;
// $navDropdownMenuBgColor: transparent;
$navDropdownMenuBgColorHover: gold;
$navFontSize: 18px;
$navPaddingTop: $navHeight / 2 - $navFontSize / 2;

$containerTopBgColor: #50c4a5;
