doctype html
html(lang="pl")

    include partials/head.pug

    body

        include partials/nav.pug

        include partials/container-top.pug

        include partials/container-content.pug


        script(type='text/javascript', src='js/main.min.js').
