.row
    .item.item-one one
    .item.item-two two
    .item.item-tri tri
    .item.item-four four
    .item.item-fajv fajv
.row.row-reverse
    .item-one one
    .item-two two
.row
    .item-one one
    .item-two two
    .item-tri tri
